@mixin mask-image($var)
  -webkit-mask-image: $var
  mask-image: $var

@mixin mask-size($size)
  -webkit-mask-size: $size
  mask-size: $size

@mixin mask-repeat($var)
  -webkit-mask-repeat: $var
  mask-repeat: $var

@mixin mask-position($var)
  -webkit-mask-position: $var
  mask-position: $var  

.hide
  display: none


 